<header class="header">
  <div class="search-bar">
    <input type="text" placeholder="Search" class="search-input">
    <span class="search-icon">
      <i class="fa fa-search"></i>
    </span>
  </div>
  <div class="header-icons">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        PewDiePie
      </button>
    </div>
    <span class="notification-icon">
      <i class="fa fa-bell"></i>
    </span>
    <span class="setting-icon">
      <i class="fa fa-cog"></i>
    </span>
    <span class="profile-icon">
      <div class="user-info-wrapper d-flex align-items-center">
        <img src="../../../../assets/image/download.jpeg" alt="" width="25">
      </div>
    </span>
  </div>
</header>